.navheader {
    height: 115px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

.btn.donate {
  background-color: #ff7000;
}

.description-text {
  color: #777777;
  font-size: 16px;
}

.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-img-top {
  background: #333333;
  border-radius: 5px 5px 0px 0px;
}

.card-title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;

  color: #000000;
}

.card-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.progress-title {
  color: #ff7000;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
}

.h1-how-to {
  font-size: 54px;
  font-weight: 700;
}

.h2-how-to {
  font-size: 28px;
  font-weight: 700;
}

.p-how-to {
  font-size: 16px;
}

.orange-highlight {
  color: #ff7000;
}
