* {
  font-family: "Lato";
}

/*Navigation header*/
.nav-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.nav-link {
  color: #000000;
}
.nav-link:hover {
  color: #ff7000;
  text-decoration: none;
  font-weight: 600;
}

.btn.donate {
  background-color: #ff7000;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.btn.donate:hover {
  font-weight: 600;
}

/*Cards*/
.description-text {
  color: #777777;
  font-size: 16px;
}

.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-img-top {
  background: #333333;
  border-radius: 5px 5px 0px 0px;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #000000;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.progress-title {
  color: #ff7000;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
}

.progress-title-simple {
  font-size: 14px;
  color: #333333;
  font-weight:300;
  text-decoration: none;
}

.progress-percentage {
  font-size: 12px;
  color: #333333;
}

/*Help-box Text*/
.h1-how-to {
  font-size: 54px;
  font-weight: 700;
}

.h1-partners {
  font-size: 54px;
  font-weight: 700;
}

.h2-how-to {
  font-size: 28px;
  font-weight: 700;
}

.p-how-to {
  font-size: 16px;
}

.orange-highlight {
  color: #ff7000;
}

/*Helpbox*/

.helpbox2col {
  background-color: #727272;
}

.mb-5.d-flex {
  align-items: center;
}

.ellipse {
  width: 70px;
  height: 70px;
  background-color: #ff7000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.orange-line {
  background-color: #ff7000;
  height: 3px;
  width: 150px;
  margin: 0 auto;
  margin-top: 0px;
}

.btn-orange {
  background-color: #ff7000;
  color: #fff;
  border-color: #ff7000;
}

/*Helpbox icons*/
.bi-gift-fill,
.bi-person-plus-fill,
.bi-collection-play-fill {
  font-size: 1.5rem;
  color: #ffffff;
}

/*Pre-footer orange box*/

.promo-box {
  background-color: #ff7000;
  height: 115px;
}

.promo-text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 115px;
  margin: 0;
}

.btn.donate-dark {
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.btn.donate-dark:hover {
  font-weight: 600;
}

/*Footer*/

.copyright-footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.copyright-text {
  margin: 0;
}

.text-body-secondary {
  color: #777777;
}

.socialicons {
  font-size: 30px;
  color: #ff7000;
}

.socialicons:hover {
  color: #ff8b32;
}

.contact-icons {
  font-size: 25px;
  color: #ff7000;
  margin-right: 5px;
}

.contact-icons:hover {
  color: #ff8b32;
}

.d-flex-icons {
  display: flex;
  align-items: center;
}

.d-flex-icons span {
  margin-left: 8px;
}

.fixed-width {
  display: inline-block;
  width: 200px;
  text-align: left;
}